<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vue-first-step</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <script src="./vue.js"></script>
    <script type="text/javascript">
    //为什么写在这里无效?
    // var app = new Vue({
    //     el: '#app',
    //     data: {
    //         message: 'Hello Vue.js!'
    //     }
    // });
    </script>
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
    </div>
    <div id="app2">
    	<span v-bind:title="message">
    		鼠标悬停几秒钟查看此处动态绑定的提示信息！
    	</span>
    </div>
    <div id="app3">
    	<p v-if="seen">现在你看到我了</p>
    </div>
	<div id="app4">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ol>
	</div>
	<div id="app5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转信息</button>
	</div>
	<div id="app6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    });
    var app2 = new Vue({
    	el: '#app2',
    	data: {
    		message: '页面加载于' + new Date().toLocaleString()
    	}
    });
    var app3 = new Vue({
    	el: '#app3',
    	data: {
    		seen: true
    	}
    });
    var app4 = new Vue({
    	el: '#app4',
    	data: {
    		todos: [
    			{text: "学习 javascript"},
    			{text: "学习 Vue"},
    			{text: "整个牛项目"}
    		]
    	}
    });
    var app5 = new Vue({
    	el: '#app5',
    	data: {
    		message: 'Hello vue.js~'
    	},
    	methods: {
    		reverseMessage: function() {
    			this.message = this.message.split('').reverse().join('');
    		}
    	}
    });
    var app6 = new Vue({
    	el: '#app6',
    	data: {
    		message: 'Hello vue.js~'
    	}
    });
    </script>
</body>

</html>